.formContainer {
    .inputContainer {
        padding: 0 0.5rem;
        height: 1.8rem;
        background-color: white;
        color: black;
        border: none;
        border-radius: 0.2rem;
        font-size: 0.9rem;
    }
}
