:host {
    button {
        position: relative;
    }

    .categories-wrapper {
        position: absolute;
        top: 3.5rem;
        display: flex;
        justify-content: center;
        left: 0;
        width: 100%;

        .categories-container {
            background-color: darkgray;
            border: 1px solid #ccc;
            width: 70%;
            margin: 0;
            padding: 1rem;

            .category-list {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem 2rem;
                list-style: none;
            }
        }
    }
}
