.userLoginContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    p {
        font-size: 1rem;
        color: white;
        font-weight: 400;
    }

    svg {
        // TODO bigger
        color: white;
    }
}
